{# index.html #}
{% extends "base.html" %}
{% block body %}

    <h1>Welcome to my site</h1>

    Login <a href="login">HERE</a>.<br />
    <p>Quisque aliquet tincidunt ex, vel porttitor arcu mattis vitae. Nam facilisis turpis ut sem efficitur, eget lacinia sapien bibendum. In dignissim lectus quis semper interdum. Morbi lectus erat, feugiat id tempor at, tristique a quam. Nulla tincidunt eleifend purus sed tristique. Nam ullamcorper semper urna sit amet eleifend. Nulla elementum, orci a pulvinar porttitor, nisl ligula commodo leo, et cursus ex mauris a eros. Phasellus finibus ipsum justo, ut bibendum dui laoreet porttitor. Etiam orci dui, scelerisque et dapibus elementum, convallis consectetur justo. Vestibulum vestibulum ultrices fringilla. Curabitur quis sem ac orci eleifend pharetra. Curabitur varius porttitor ex eget consectetur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

{% endblock %}